* {
    box-sizing: border-box;
}
p {
    color: black;
}
body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #222;
    background: #f7f5f0;
}
.main-nav {
    width: 100%;
    background: black;
    min-height: 30px;
    padding: 10px;
    position: fixed;
    text-align: center;
}
.nav {
    display: flex;
    justify-content: space-around;
    font-weight: 700;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}
.nav .name {
    display: block;
    margin-right: auto;
    color: white;
}
.nav li {
    padding: 5px 10px 10px 10px;
}
.nav a {
    transition: all .5s;
    color: white;
}
/* when you hover over the links they turn white */
.nav a:hover {
    color: blue;
}

header {
    text-align: center;
    background: url('../Max-s-Website/images/pastel-blue-color-solid-background-1920x1080.png') no-repeat ;
    background-size: cover;
    overflow: hidden;
    padding-top: 60px;
}
header {
    line-height: 1.5;
}
header .profile-image {
    margin-top: 50px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid black;
    transition: all .5s;
    rotate: 360deg;
}
header .profile-image:hover {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
h1 {
    font-size: 24px;
}
h2 {
    text-align: center;
}
.cards {
    display: flex;
}

.card {
    flex: 50%;
    float: left;
    margin: 30px;
    padding: 20px 40px 40px;
    text-align: center;
    background: #fff;
    border-bottom: 4px solid #ccc;
    border-radius: 6px;
    transition: all .5s;
}
.card {
    text-align: left;
}

.card:hover {
    border-color: blue;
}

ul.skills {
    padding: 0;
    text-align: center;
}

.skills li {
    border-radius: 6px;
    display: inline-block;
    background: gray;
    color: white;
    padding: 5px 10px;
    margin: 2px;
}

.skills li:nth-child(odd) {
    background: #a9d7f9;
}
